/**/

.login-wrapper {
    margin: auto;
    width: 850px;
}

/*logo*/
.login-top {
    overflow: hidden;
    height: 45px;
}
/*left*/
.login-left {
    display: inline;
    float: left;
    width: 400px;
}
/*right*/
.login-right {
    width: 370px;
    position: relative;
    padding-bottom: 65px;
}
.login-right .login_form {
    width: 272px;
    margin: 0px auto;
}

.login-right .uinArea {
    height: 55px;
    position: relative;
    z-index: 10;
}